html{
    scroll-behavior: smooth;
    overflow: hidden;
}
/* Variables */
:root{
    --primary--color: #774111;
    --secondary--color: #f9e99f;
}
/* navbar */
.navbar-brand{
    max-width: 140px;
}
.navbar ul li a, .navbar-toggler{
    color: var(--secondary--color) !important;
}
/* home */
.home{
    overflow-y: hidden;
}
.home .carousel-item img{
    height: calc(100vh - 50px);
    object-fit: cover; 
    object-position: center;
}
.home__over{
    background-color: var(--primary--color);
    border-top: #f9e99f solid 4px;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 200 !important;
}
.home__over--container{
    height: 200px;
    width: 200px;
    background-color: var(--primary--color);
    border-radius: 50%;
    z-index: 100 !important;
}
.home__over--container img{
    margin-top: 20px;
    width: 100%;
    height: auto;
}
