html{
    scroll-behavior: smooth;
}
/* Variables */
:root{
    --primary--color: #774111;
    --secondary--color: #f9e99f;
}
/* navbar */
.navbar-brand{
    max-width: 140px;
}
.navbar ul li a, .navbar-toggler{
    color: var(--secondary--color) !important;
}
/* home */
.home{
    overflow-y: hidden;
}
.home .carousel-item img{
    height: calc(100vh - 50px);
    object-fit: cover; 
    object-position: center;
}
.home__over{
    background-color: var(--primary--color);
    border-top: #f9e99f solid 4px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 200 !important;
}
.home__over--container{
    height: 200px;
    width: 200px;
    background-color: var(--primary--color);
    border-radius: 50%;
    z-index: 100 !important;
    animation: fadein-bot 1s;
}
.home__over--container img{
    margin-top: 20px;
    width: 100%;
    height: auto;
}

/* sections */
.about{
    background-color: var(--primary--color);
    color: var(--secondary--color);
    padding-top: 0;
    padding-bottom: 50px;
}
.products{
    background-color: var(--secondary--color);
    color: var(--primary--color);
    padding: 50px 0px;
}

footer{
    background-color: var(--primary--color);
    color: var(--secondary--color);
}

/* efectos */
@keyframes fadein-bot {
    from{
        opacity: 0;
        margin-bottom: -200px;
    }
    to{
        opacity: 1;
        margin-bottom: 0px;
    }
}